<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>С настумающим новым годом!</h1>
            <hr>
            <p>Елизавета! Санта на связи!</p>
            <p>Ты попала в новогоднюю открытку. Исследуй ее и раскрой тайну пронумерованных боксов.
                Открывай их тогда, когда я тебя попрошу. Сначала только один, потом другой.</p>
            <a href="#congratulation" class="btn btn-primary btn-xl page-scroll">Развернуть
                открытку</a>
        </div>
    </div>
</header>
