<section class="bg-primary" id="congratulation">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Дорогой секретный друг!</h2>
                <hr class="light">
                <p class="text-faded">Я поздравляю тебя наступлением новогодней поры, когда вокруг нас светятся гирлянды, пахнут ели и торчат помпонами вверх красные колпаки.</p>
                <p class="text-faded">"Двадцать-двадцатый" оказался крайне необычным годом. Когда наступают трудности, кто-то страдает, а кто-то учится и делает выводы. Я надеюс... Нет! Я верю! ...что ты выходишь из 2020 с новым опытом, полная сил и желаний.  Да сойдут с нас оковы санитарных и экономический ограницений, и да изменим мы свою жизнь и мир к лучшему!</p>
                <a href="#present1" class="btn btn-default btn-xl">Перейти к подарокам</a>
            </div>
        </div>
    </div>
</section>







