<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Этот чарующий запах</h1>
            <hr>
            <p>Еще Новый Год – это пора уюта, свечек, заворачиваний в плед и чашек с согревающими
                напитками.
                Предлагаю тебе отправиться в увлекательное путешествие (на сей раз – в фигуральном
                смысле) и исследовать различные альтернативные способы приготовления кофе.</p>
            <p><b>Открой второй подарок!</b></p>
        </div>
    </div>
</header>
