<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Ну да перейдем к делу :)</h1>
            <hr>
            <p>Я... И мои эльфы... И мои олени... Мы долго гадали, что же тебя порадует и сможет стать катализатором новогоднего настроения.
Во многом, Новый Год -- это планы и мечты. Я собрал список мест в Питере, где ты и твоя верная четырехногая подруга сможете классно провести время вместе: <>
А если у вас получится осуществить это уже в эту снежную пору, то вот вам по праздничному головному убору.
Внимание на бокс #1.</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Получить подарок #2</a>
        </div>
    </div>
</header>
