<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Перейдем к делу :)</h1>
            <hr>
            <p>Я... Мои эльфы... Мои олени... Мы долго гадали, что же тебя порадует и сможет стать
                катализатором новогоднего настроения.</p>
            <p>Во многом, Новый Год – это планы и мечты. До меня дошла информация, что ты без ума от
                Питера. А что думает про Северную Столицу твоя четвероногая подруга? Предлагаю вам
                сгонять в спб вместе. И поможет вам в этом список dog-friendly местечек Питера.
                Ты найдешь его, перевернув открытку. Но подожди еще немного.</p>
            <p>Получится ли у вас пройтись по списку уже в эту снежную пору? Тогда праздничные головные
                уборы, один для тебя, один для собакевича, будут вам кстати.</p>
            <p><b>Открой первый подарок!</b></p>
            <a href="#spb" class="btn btn-primary btn-xl page-scroll">Открыть список мест</a>
        </div>
    </div>
</header>
