<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Перейдем к делу :)</h1>
            <hr>
            <p>Я... Мои эльфы... Мои олени... Мы долго гадали, что же тебя порадует и сможет стать катализатором новогоднего настроения.</p>
            <p>Во многом, Новый Год – это планы и мечты. До меня дошла информация, что ты без ума от Питера. А что думает про северную столицу твоя четвероногая подруга? Предлагаю вам сгонять в спб вместе. И поможет вам список dog-friendly местечек и отменных природных уголков. Ты найдешь его на следующем развороте открытки.</p>
            <p>Получится пройтись по списку уже в эту снежную пору? Тогда праздничные головные уборы, один для тебя, один для собакевича, будут вам кстати.</p>
            <p>Открой первый подарок!</p>
            <a href="#spb" class="btn btn-primary btn-xl page-scroll">Открыть список мест</a>
        </div>
    </div>
</header>
