<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Откуда этот приятный запах?</h1>
            <hr>
            <p>Еще Новый Год -- это пора уюта, свечек, заворачиваний в плед и чашек с согревающими напитками.
Предлагаю тебе отправиться в увлекательное путешествие (на сей раз -- в фигуральном смысле) и исследовать различные альтернативные способы приготовления кофе.</p>
            <p>Открой второй подарок</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Ho-ho-ho</a>
        </div>
    </div>
</header>
