<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Собачьи места</h1>
            <hr>
            <p>

На машине в сторону Выборга.
- как в Выборг не едь, близь тебя окажется море, песчаные пляжи и сосновые заросли, что прекрасно прочищают легкие.
(gps1, gps2)

Загородный SPA - курорт "Аврора - Клуб"
- отдых для тела, а так же озера, карьеры и прочий природный рай для совместных прогулок


"Чудный" пляж в Репино, "Ласковый"  в Солнечном
-- не пустынные. Собакевичу удастся поиграть с другими собаками.

Западный Котлин

300 Yeas Park</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Перейти к второму подарку</a>
        </div>
    </div>
</header>
