<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Собачьи места</h2>
                <hr class="light">
                <p class="text-faded">На машине в сторону Выборга.
- как в Выборг не едь, близь тебя окажется море, песчаные пляжи и сосновые заросли, что прекрасно прочищают легкие.
(gps1, gps2)</p>
                <p class="text-faded">Загородный SPA - курорт "Аврора - Клуб"
- отдых для тела, а так же озера, карьеры и прочий природный рай для совместных прогулок
</p>
                <p class="text-faded">
"Чудный" пляж в Репино, "Ласковый"  в Солнечном
-- не пустынные. Собакевичу удастся поиграть с другими собаками.
</p>
                <p class="text-faded">Западный Котлин
</p>
                <p class="text-faded">300 Yeas Park
</p>
                <a href="#" class="btn btn-default btn-xl">Перейти к подарокам</a>
            </div>
        </div>
    </div>
</section>

