<section class="bg-primary" id="spb">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Dog-friendly Питер</h2>
                <hr class="light">
                <p class="text-faded"> <i>*Список авторский</i>, составлен по просьбе Санты специально для
                    тебя владелецей всохитительного ретривера.<br>
                    *Все перечисленные места очень <i>дог-френдли</i> и там просто классно. (с)
                </p>
                <p class=.text-primary">Выпить кофе и позавтракать</p>
                <p class="text-faded">
                    - Смена<br>
                    - Кофе на кухне
                </p>
                <p class=.text-primary">Вкусно поесть</p>
                <p class="text-faded">
                    - Футура (восхитительные булки и всё меню)<br>
                    - Animals (Очень рекомендую тар-тар и коктейли)<br>
                    - Paloma Cantina (мексиканская кухня, прекрасно всё!)
                </p>
                <p class=.text-primary">Погулять</p>
                <p class="text-faded">
                    - Любая точка на заливе (можно смело ехать в Солнечное, Репино или Комарово —
                    как на
                    машине, так и на электричке. Пляж в 15 минутах от железной дороги, очень удобно)<br>
                    - Севкабель (взять глинтвейн или какао и сидеть на набережной)<br>
                    - Загородный SPA - курорт "Аврора - Клуб" (отдых для тела, а так же озера,
                    карьеры и прочий природный рай для совместных
                    прогулок)<br>
                    - На машине в сторону Выборга. (Как в Выборг не едь, близь тебя окажутся море,
                    песчаные пляжи и сосновые
                    заросли, что прекрасно прочищают легкие. Санте понравилось тут (gps: <b>60.321589,
                    28.828536</b>), тут (<b>60.1952444, 29.6173278</b>) и тут (<b>59.9580667, 29.4956278</b>)<br>
                    - "Чудный" пляж в Репино, "Ласковый" в Солнечном. (Не пустынные. Собакевичу
                    удастся поиграть с другими собаками.)
                </p>
                <p class=.text-primary">Выпить</p>
                <p class="text-faded">
                    - Хроники (с собакой только лучше не в пятницу вечером, бывает тесно)<br>
                    - Залив (это рюмочная с северо-западной кухней, знакомая очень рекомендует
                    бутерброды и картошку с форшмаком)<br>
                    - Варшава<br>
                    - Do Immigration<br>
                    - Redrum (это бар ребят из классной петербургской пивоварни AF Brew)<br>
                </p>
                <p class=.text-primary">Бонус</p>
                <p class="text-faded">
                    - Магазин женской одежды и всего для дома Ннедре (это локальный петербургский
                    бренд)<br>
                    - Книжный магазин Подписные издания (+ там же есть кофейня)
                </p>
            </div>
        </div>
    </div>
</section>

